<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="robots" content="follow,index">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="🔐 An Open Source Template for Login Page From Scratch Without Any CSS Framework">
	<meta name="keywords" content="login page css, login template, login css, login form template">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{url_for('static',filename='net.css')}}">
    <link rel="stylesheet" href="../shared/normalize.css">
	<link rel="stylesheet" href="../shared/additional.css">
    <link rel="apple-touch-icon" sizes="180x180" href="https://mazipan.github.io/login-page-css/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="https://mazipan.github.io/login-page-css/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="https://mazipan.github.io/login-page-css/favicon/favicon-16x16.png">
	<link rel="manifest" href="https://mazipan.github.io/login-page-css/manifest.json" />
    <title>Login Page</title>
    
</head>
<body>
    <div class="upper">
        <div class="logo">
            <a href="#">
                <img src="{{url_for('static', filename='logo6.jpg')}}" class="img-logo"/>
            </a>
        </div>
        <div class="login-div">
            <form class="login" method="post" action = "/">
                <h1>Sign In</h1>
                <div class="input-text">
                    <input type="email" id="email" name="email" placeholder="Email" />
                    <div class="warning-input" id="warningEmail">
                        Please enter a valid email 
                    </div>
                </div>
                
                <div class="input-text">
                    <input type="password" id="psw" name="psw" placeholder="Password" />
                    <div class="warning-input" id="warningPassword">
                        Your password must contain between 4 and 15 characters.
                    </div>
                </div>
                
                <div>
                    <button class="signin-button" type="submit">Sign In</button>
                </div>
                <div class="remember-flex">
                    <div>
                        <label class="color_text"></label>
                    </div>
                    <div class="help">
                        <a class="color_text" href="#"></a>
                    </div>
                </div>
                <div>
                    {% with messages = get_flashed_messages() %}  

                        {% if messages %}  
        
                            {% for message in messages %}  
        
                            <p>{{ message }}</p>  
        
                            {% endfor %}  
        
                         {% endif %}  
        
                    {% endwith %}
                </div>
                <div class="login-face">
                </div>
                <div class="new-members">
                    New to Book-Reviwer? <a onclick="location.href='http://127.0.0.1:2000/registration'" class="signup-link">Sign up now</a>.
                </div>
                <div class="protection color_link help">
                    <a href="#"></a>
                </div>
            </form>
        </div>
    </div>
    
</body>
</html>
