<!DOCTYPE html>
<head>
  <title>Review_page</title>
</head>
<html>

<body>
 

<form  method="POST" action = "/review"  >
    <div class="container">
      
      <label for="name"><b>Name of the Book</b></label>
      <input type="text" placeholder="Enter name" name="name" id="name" >
      <br>
      <br>
       
    </div>
<h1>-------------------------------------------</h1>
<h2>Rate the book between 1 and 5</h2>
<h2>one being the worst and 5 being the Best</h2>
<br>
<form  method="POST" action = "/review"  >
<label for="rat"><b>Rate the book: </b></label>
<input type="number" placeholder="Enter rating" name="rat" id="rat" step="0.1" max = 5>
  <br>
  <br>
  <button type="submit" class="registerbtn">submit</button> 
</form>

{% block body %}

{% for i in kk %}
  <h1>{% set kadir = i.bookID %}</h1> 
  <h1>{{kadir}}</h1>
  <a href="{{ url_for('forum',kadir=kadir)}}">  <h2>The name of the book is:  {{i.title}} </h2> 
  </a>
  <h2>The average rating of this book is :{{i.average_rating}}</h2>
  <h2>Total number of reviews : {{i.ratings_count}}</h2>
{% endfor %} 

{% endblock %}



 

</body>

</html>
